#requirements.txt
snowflake-snowpark-python
streamlit

import requests  
smoothiefroot_response = requests.get("[https://my.smoothiefroot.com/api/fruit/watermelon](https://my.smoothiefroot.com/api/fruit/watermelon)")  
# st.text(smoothiefroot_response.json())
sf_df = st.dataframe(data=smoothiefroot_responce.json(), use_cpontainer_width=True)
